# Ignore all files that generally ought not to be committed into the repo.
# Never commit sensitive data.
# Never commit useless files.
# Try not to commit large files.

# Filenames should NOT have spaces
* *

# Distribution Versions
dist/

# This is only for localhost testing purposes
index.html

# Backup files
~$*
*~
*.bak*

# Sublime-text workspaces, etc
*.sublime-*

# Ignore bower components and npm modules
node_modules/
bower_components/
package-lock.json

# Windows / Mac OS junk files
Desktop.ini
$RECYCLE.BIN/
*[Tt]humbs.db
*.DS_Store

